:root {
    --width: 40vw;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1%;
    background-image: linear-gradient(120deg, rgb(255, 198, 42), rgba(228, 25, 116, 0.796), rgb(255, 43, 43));
}

.inform {
    font-size: 2em;
    color: white;
}

.button-30 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    height: 60px;
    background-image: linear-gradient(120deg, rgb(255, 198, 42), rgba(228, 25, 116, 0.796), rgb(255, 43, 43));

    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: white;
    cursor: pointer;


    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: space-evenly;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    font-size: 18px;

}

button>*:not(#start) {
    display: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: var(--width);
    height: var(--width);
    background-image: linear-gradient(120deg, rgb(255, 33, 107), rgb(255, 198, 42));
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;

    perspective: 1000px;
}

.tile {
    height: calc(100% / 4 - 10px);
    width: calc(100% / 4 - 10px);
    background-image: linear-gradient(120deg, rgb(255, 198, 42), rgb(255, 33, 107));
    border: solid rgb(165, 180, 248) 1px;
    border-radius: 10px;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.test {
    transform: rotateY(180deg);
}

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    font-size: calc(var(--width) / 5.5);
}

.front {
    background-color: black;
}

.back {
    transform: rotateY(180deg);
    /* Initial state of the back face */
    /* Back content styles */
    background-color: white;
}




.button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

@media screen and (max-width: 920px) {
    :root {
        --width: 65vw;
    }

    .button-30 {
        width: 70%;
    }
}